*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.first-header, .first-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.menu ul{
    list-style: none;
    display: flex;   
}

.assistance .icon {
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.assistance {
    display: flex;
    padding-left: 20px;
}

li {
    margin-right: 23px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

.menu{
    border-right: 2px solid  #939191;
}

.assistance-text p {
    font-size: 16px;
}

.assistance-text h6 {
    font-size: 18px;
}

.flex {
    display: flex;
}

#hero-section {
    min-height: 80vh;
    padding: 80px;
}

.engine {
    width: 45%;
    background: url(../imgs/porshe-engine.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.our-services {
    width: 55%;
    background: black;
    color:#F2F2F2;
    padding: 50px;
    padding-bottom: 120px;
}

.our-services p {
    font-size: 50px;
    padding-bottom: 30px;
}

.our-services h1 {
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 80px;
}
.our-services a, .process-text2 a {
    text-decoration: none;
    padding: 12px 30px;
    background:  #FF6433;
    border-radius: 12px;
    font-size: 14px;
    color: white;
    
}

#diagnostics{
    min-height: 100vh;
    background: #F5F5F5;
    padding: 60px 0px;
}

#diagnostics .box-section {
    width: 50%;
}

#diagnostics .wheel-section {
    width: 40%;
}

.wheel-section {
    padding: 40px;
    background: white;
}

.wheel-section img {
    width: 350px;
    padding: 5px;
}

.wheel-section p {
    font-size: 40px;
    font-weight: bold;
    padding: 30px 0px;
}

.wheel-section h4 {
    font-weight: 600;
    color: black;
    opacity: 0.6;
    padding-bottom: 40px;
}

.wheel-section .flex img {
    width: 52px; 
    padding-bottom: 5px;
}

#diagnostics .box-section .box-section-box {
    background: white;
    height: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    margin-right: 20px;
}

#diagnostics .box-section :hover {
    background: #FF6433;
    color: white;
}

.box-section-box img {
    width: 30px;
}

#diagnostics .box-section {
    flex-wrap: wrap;
    padding-left: 30px;
}


#process-section {
    min-height: 200vh;
    padding: 80px;

}

#process-section .process-text, #process-section .process-images {
    width: 50%
}

.process-text p, .process-text2 p {
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 30px;
}

.check-image {
    width: 7%;
    padding-right: 10px;
}

.check-image img {
    width: 100%;
}

.check-text {
    width: 70%;
}

.check-text h3, .process-text2 h3 {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 40px;
}
.process-images img, .process-images2 img {
    width: 230px;
    height: 330px;
    padding-right: 10px;
}

.process-section2 {
    padding-top: 60px;
}

#process-section .process-text2, #process-section .process-images2 {
    width: 50%
}

#process-section .process-text2 {
    padding-left: 30px;
}

#footer {
    background: black;
    opacity: 0.98;
    min-height: 60vh;
    padding: 100px;
}

#footer .socials, #footer .offline-contact {
    width: 50%;
}

#footer .socials p{
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.socials-images {
    padding-top: 40px;
}

.socials-images img {
    padding-right: 40px;
}

.offline-contact {
    padding-left: 40px;
}

.offline-contact p {
    font-size: 16px;
    font-weight: 200;
    color: white;
    opacity: 0.6;
    padding-bottom: 10px;
}

.offline-contact h3 {
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding-bottom: 40px;
}

#footer-menu {
    min-height: 20vh;
    background: black;
}

.first-header2 .menu{
    border: none;
}

.first-header2 .nav-bar {
    display: flex;
    align-items: center;
}

.first-header2 .menu ul{
    list-style: none;
    display: flex;
    padding-right: 100px;   
}

.first-header2 li {
    margin-right: 23px;
    font-weight: bold;
}

.first-header2 a {
    text-decoration: none;
    color: white;
}

.first-header2 {
    padding: 50px 0px;
}


